body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header img {
    width: 150px;
    height: auto;
}

header h1 {
    margin: 0;
}

main {
    padding: 20px;
}

.intro,
.benefits {
    margin-bottom: 20px;
}

.intro h2,
.benefits h2 {
    color: #333;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background: #333;
    color: #fff;
}

ol {
    list-style-type: none;
    padding: 0;
}

ol li {
    background: #fff;
    margin-bottom: 10px;
    padding: 10px;
    /*border: 1px solid #d13030;*/
}

span {
    font-weight: bold;
    text-decoration: underline;
}